#container {
    margin: auto;
    width: 60%;
    background-color: fuchsia;
    height: 10rem;
    display: grid;
}

.cell {
    border: 4px solid black;
}

.cell.is-alive {
    background-color: goldenrod;
}