#container {
    margin: auto;
    width: 80%;
    background-color: fuchsia;
    /* height: 10rem; */
    display: grid;
}

.cell {
    border: 1px solid black;
    /* height: calc(width); */
    padding-top: 100%;
    width: 100%;
}

.cell.is-alive {
    background-color: goldenrod;
}