#container {
    margin: auto;
    /* width: 60%; */
    background-color: fuchsia;
    /* height: 10rem; */
    display: grid;
}

.cell {
    border: 1px solid black;
    height: 10px;
}

.cell.is-alive {
    background-color: goldenrod;
}